// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;1,400&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	@apply font-sans;
	max-width: 1024px;
	margin: 0 auto;
	color: #291507;
	padding: .5rem;
}

input {
	background-color: #F6F8FB;
	overflow-x: hidden;
	border: none;
	outline: none;

	&::placeholder {
		color: #291507;
	}

	&:focus {
		border: none;
		outline: none;
	}
}



.container-ratio-1-1 {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}

.container-ratio-1-2 {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 200%;
	overflow-y: hidden;
}

.container-ratio-2-1 {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 50%;
	overflow-y: hidden;
}



.child-ratio {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.p-responsive {
	padding: min(calc(1vw + 1rem), 2rem);
}

.image-cover {
	width: 100%;
	height: 100%;
	object-fit: conver;
}