:root {
	--breeds-search-flex-gap: .5em;
	--breeds-search-heading-text: min(calc(5vw + .5rem), 5rem);
	--breeds-search-description-text: min(calc(1vw + .5rem), 2rem);
	--breeds-search-container-text: min(calc(1vw + .5rem), 1.9rem);

	--breeds-search-description-max-w: 45%;
	--breeds-search-container-max-w: 40%;
	--breeds-search-container__svg-min-w: 12px;


}

.container-breeds-search {

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	& img,
	& .breeds-search {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
	}
}


.breeds-search {
	@apply text-white flex flex-col;
	align-self: center;
	gap: var(--breeds-search-flex-gap);

	padding-left: calc(2vw + 1em);

	&__heading {
		@apply font-['Mystery_Quest'];
		font-size: var(--breeds-search-heading-text);
	}

	&__description {
		@apply font-medium;

		font-size: var(--breeds-search-description-text);
		max-width: var(--breeds-search-description-max-w);

	}

	&__container-input {
		@apply px-4 py-2 rounded-full bg-white flex items-center;

		color: #291507;
		font-size: var(--breeds-search-container-text);
		max-width: var(--breeds-search-container-max-w);

		input {
			flex-grow: 1;
		}

		&__svg {
			min-width: var(--breeds-search-container__svg-min-w);
		}
	}

	@media screen and (min-width: 500px) {
		--breeds-search-description-max-w: 40%;
		--breeds-search-container-max-w: 40%;
		--breeds-search-container__svg-min-w: 20px;
	}

	@media screen and (min-width: 768px) {
		--breeds-search-flex-gap: 1.5em;
	}
}

.most-searched-breeds__heading {
	@apply relative pb-1 font-medium;

	width: max-content;
	font-size: min(calc(1vw + .7rem), 2rem);


	&::before {
		position: absolute;
		content: "";
		bottom: 0em;
		left: 0;
		border: 2px solid #291507;
		border-radius: 13px;
		width: 30%;
	}
}

.most-searched-breeds__description {
	font-weight: 700;
	font-size: min(calc(1vw + .8rem), 2rem);
}

.most-searched-breeds__gallery {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 1em;

	&> :first-child {
		position: relative;

		&::before {
			display: none;
			position: absolute;
			content: "";
			top: 10%;
			left: -.7em;
			min-height: 65%;
			width: 20px;
			border: 2px solid #DEC68B;
			background-color: #DEC68B;
			border-radius: 13px;

			@media screen and (min-width: 768px) {
				display: block;
			}
		}
	}
}